<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd"
      autoReload="true"
      throwExceptions="false"
      internalLogLevel="Off">

  <targets>

    <!--
    DE:   Schreibe Log-Ausgaben in die Datei "llsample.log", beginne bei jeweils 10 MB Dateigröße eine neue Log-Datei und behalte die jeweils letzten 5 Log-Dateien (ältere Log-Dateien werden gelöscht)
    US:   Write log messages to "llsample.log", begin a new log file when a size of 10 MB is reached and keep the last 5 log files (older logs are deleted)
    -->
    <target name="RollingFileTarget" xsi:type="File"
            layout="${longdate} ${level} [${threadid}] - ${message}"
            fileName="${tempdir}\llsample_nlog.log"
            archiveFileName="${tempdir}\llsample_nlog.{##}.log"
            archiveAboveSize="10240000"
            maxArchiveFiles="5"
            archiveNumbering="Rolling"
            concurrentWrites="false"
            keepFileOpen="false" />

  </targets>

  <rules>
    <logger name="ListLabelSample" minlevel="Debug" writeTo="RollingFileTarget" />
  </rules>
</nlog>