<h1 style="text-align: center;">Angular Web Reporting Sample</h1>
<br/>
<div class="createSomeMargin">
    <p>DE: In diesem Beispiel wird die Einbindung des WebReportDesigners und des WebReportViewers mit einem ASP.NET Core Backend und einem Angular Frontend gezeigt.</p>
    <p>EN: This example shows the integration of the WebReportDesigner and the WebReportViewer with an ASP.NET Core backend and an Angular frontend.</p>
    <br />
    <br />
    <div class="home-button-flex">
        <div class="button-on-home">
            <a class="nav-link text-bright button-text" href="http://localhost:44460/wrd" target='_blank'>Design</a>
        </div>
		<div class="button-on-home">
            <a class="nav-link text-bright button-text" href="http://localhost:44460/wrv" target='_blank'>Preview</a>
        </div>
    </div>
</div>
