@using combit.ListLabel25.Web.WebDesigner.Server

@model WebDesignerOptions
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
</head>
<body>
    @*
        D:  Html.ListLabelMvcWebDesigner() rendert eine Seite, die den Start der Web Designer-Anwendung auf dem Client auslöst oder die Designer-Installation anbietet.
        US: Html.ListLabelMvcWebDesigner() will render a page that launches the Web Designer application on the client or offers to install it.
    *@

    @Html.ListLabelMvcWebDesigner(Model)
</body>
</html>
