<!--Diese Komponente sollte nicht direkt angezeigt werden, sondern muss in einer anderen Komponente als iFrame angezeigt werden, um width und height zu definieren.-->
<!--This component should not be displayed directly, but must be displayed in another component as iFrame to define width and height.-->
<div>
    <!-- US: Comment this line in if you have set the example in file "DefaultSettings.cs" to English. -->
	<ll-webreportdesigner backendUrl="http://localhost:5184/LLWebReportDesigner" defaultProject="42B325E5-A894-4BDE-9D0A-5098B46A5085"></ll-webreportdesigner>
	
	<!-- D: Kommentieren Sie diese Zeile ein, wenn Sie das Beispiel in Datei "DefaultSettings.cs" auf Deutsch gestellt haben. -->
    <!-- <ll-webreportdesigner backendUrl="http://localhost:5184/LLWebReportDesigner" defaultProject="305D94C6-E5DC-4BE1-BC43-12CBC532EEE6"></ll-webreportdesigner> -->
</div>
