@page "/"

<PageTitle>Blazor MVC Web Reporting Sample</PageTitle>

<h1 style="text-align:center;margin-top:1rem;">Blazor MVC Web Reporting Sample</h1>
<div class="createSomeMargin">
    <p>
        DE: In diesem Beispiel wird die Einbindung des Web Report Designers und des Web Report Viewers mit einem ASP.NET Core-Backend und einem Blazor-Frontend gezeigt.
    </p>
    <p>
        EN: This example shows the integration of the Web Report Designer and the Web Report Viewer with an ASP.NET Core backend and a Blazor frontend.
    </p>
    <br />
    <div class="home-button-flex">
        <div class="button-on-home">
            <a class="nav-link text-bright button-text" href="WebReportDesigner" target='_blank'>Design</a>
        </div>
        <div class="button-on-home">
            <a class="nav-link text-bright button-text" href="WebReportViewer" target='_blank'>Preview</a>
        </div>
    </div>
</div>
