@page 

<script src="~/webreportviewer.js"></script>

<HeadContent>
    <title>Web Report Viewer</title>
</HeadContent>

@{
    ViewBag.Title = "WebReportViewer";
    Layout = "_Layout";
    string baseUri = $"{Request.Scheme}://{Request.Host}{Request.PathBase}";
    string defaultProject = string.Empty;

    if (BlazorWebReportingSample.CmbtSettings.Language == combit.Reporting.LlLanguage.English)
    {
        defaultProject = "42B325E5-A894-4BDE-9D0A-5098B46A5085";
    }
    else
    { 
        defaultProject = "305D94C6-E5DC-4BE1-BC43-12CBC532EEE6";
    }
}

<div>
    <ll-webreportviewer backendurl="@baseUri/LLWebReportViewer" defaultProject="@defaultProject" />
</div>


