body {
}

.content-secondary {
	width: 38%;	
	background: none repeat scroll 0 0 transparent;
	text-align: left;
	float: left;		    
}

.content-primary {
	width: 62%;	
	float: right;	
}

.ui-content 
{    
    padding: 0;    
    background: url(images/px2.gif) repeat-y scroll 38% 0% transparent;    
}

.ui-content .ui-listview {
	margin: 0;
}   

#dataList
{
    margin-right: 1px;
}

#reportList
{
    margin-left: 1px;
}

#dataList .ui-li-has-thumb .ui-btn-inner a.ui-link-inherit, .ui-li-static.ui-li-has-thumb  
{ 
    min-height: 30px;
    max-height: 60px;
    padding-left: 64px;
}

#dataList * img
{
    margin-top: 4px;
}

.active
{
    background-color: #A4BBD2;   
}