@using combit.ListLabel24.Web

@model MVC_Web_Reporting_Sample.WebReporting.ViewModels.Html5ViewerModel
@{
    Layout = null;
}


<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    @Html.Html5Viewer(Model.ReportName, Model.ViewerOptions)
</body>
</html>
