<h1 style="text-align:center;margin-top:1rem;">Angular Web Reporting Sample</h1>
<br/>
<div class="createSomeMargin">
    <p style="text-align: center;">DE: In diesem Beispiel wird die Einbindung des Web Report Designers und des Web Report Viewers mit einem ASP.NET Core-Backend und einem Angular-Frontend gezeigt.</p>
    <p style="text-align: center;">EN: This example shows the integration of the Web Report Designer and the Web Report Viewer with an ASP.NET Core backend and an Angular frontend.</p>
    <br />
    <div class="home-button-flex">
        <div class="button-on-home">
            <a class="nav-link text-bright button-text" href="http://localhost:44460/wrd" target='_blank'>Design</a>
        </div>
		<div class="button-on-home">
            <a class="nav-link text-bright button-text" href="http://localhost:44460/wrv" target='_blank'>Preview</a>
        </div>
    </div>
</div>
